.main{
  height: 100vh;
  width: 100%;
  
}
.sec{
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: large;
}
.btn{
  height: 40px;
  width: 100px;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  background-color: orange;
  margin-top: 15px;
}
table{
  color: white;
  background-color: black;
  text-align: center;
  height: 80px;
  width: 80%;
}

.form{
  height: 45vh;
  width: 35vh;
  border: 2px solid black;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  padding: 30px;
  background-color: gray;
  gap: 50px;
  margin-left: 20px;
  margin-right: 20px;
  /* transform: translate(750px,100px); */
  
}
.inp1{
  height: 35px;
  width: 70%;
  text-align: center;
  background-color:rgb(56, 38, 38);
  color: whitesmoke;
  margin: 10px;
  border-radius: 8px;
  flex-direction: column;
 
}
.inp2{
  height: 35px;
  width: 70%;
  text-align: center;
  background-color:rgb(56, 38, 38);
  color: whitesmoke;
  margin: 10px;
  border-radius: 8px;
 
}
.inp3{
  height: 35px;
  width: 70%;
  text-align: center;
  background-color:rgb(56, 38, 38);
  color: whitesmoke;
  margin: 10px;
  border-radius: 8px;
 
}

.btn1{
  height: 50px;
  width: 100px;
  font-size: large;
  background-color: black;
  color: whitesmoke;
  margin: 35px;
  border-radius: 10px;
}
.btn1:hover{
  background-color: brown;
  color: black;
}


.edit{
  height: 30px;
  width: 50px;
}

.edit:hover{
  background-color: brown;
  color: black;
}

.del{
  height: 30px;
  width: 50px;
}
.del:hover{
  background-color: brown;
  color: black;
}